{% extends 'base.html.twig' %}

{% block title %}
     { Liste des burgers } 
{% endblock %}




{% block body %}

    <a href="{{ path('app_home') }}" >HOME</a>
    <div class="">
     <h1> Liste des burgers </h1>
{% for burger in burgers %}
    <div>
        <a 
            href="{{ path('burger',{'id':burger.id}) }}">
            {{burger.name}}
        </a>
    </div>

    {% endfor %}
    </div>

 <img 
      src="{{ asset('images/tibo.png') }}" alt="">
{# {% block home %}
<a href="{{ path('home') }}">Accueil</a>
 {% endblock %}  #}
 {% endblock %}